* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================================= */
/* ESTILOS GERAIS E DE LOGIN            */
/* ============================================= */

.color-purple {
  background-color: #6c29a6;
}

.text-purple {
  color: #6c29a6;
}

.bg-offwhite {
  background-color: #fefefe;
}

.btn-purple {
  background-color: #6c29a6;
  color: white; /* Garante que o texto do botão seja branco */
}

.btn-purple:hover {
  background-color: #4c2889;
  color: white;
}

/* Ajusta o posicionamento do card de login */


.min-60vh {
    min-height: 60vh;
}


/* ============================================= */
/* ESTILOS PARA O MODAL DE SELEÇÃO DE PERFIL     */
/* ============================================= */

/* Faz os campos de input parecerem clicáveis */
#email, #senha {
  cursor: pointer;
}

/* Estiliza os cards de seleção dentro do modal */
.user-selection-card {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
}

.user-selection-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-color: #6c29a6 !important;
}