* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar img{
    width: auto;
    height: 5vh;
}

.color-purple{
  background-color: #6c29a6;
}

.color-grey{
  background-color: #ededed;
}

.text-purple{
    color: #6c29a6;
}

.btn-purple{
    background-color: #6c29a6;
}

.btn:hover{
    background-color: #4c2889;
}

.login {
  margin-top: 120px;
}

/* Navbar custom */
  .navbar-nav .nav-link {
    position: relative;
    color: #591b62 !important; /* cor padrão */
    font-weight: 500;
    transition: all 0.3s ease; /* suaviza as animações */
  }

  /* Cor e crescimento no hover */
  .navbar-nav .nav-link:hover {
    color: #906bd6 !important; /* roxo do Bootstrap */
    transform: scale(1.1); /* cresce um pouco */
  }

  /* underline animado */
  .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #6f42c1; /* cor da linha */
    transition: width 0.3s ease;
  }

  .navbar-nav .nav-link:hover::after {
    width: 100%; /* aparece no hover */
  }

  /* Item ativo (ex: página atual) */
  .navbar-nav .nav-link.active {
    color: #6f42c1;
    font-weight: bold;
  }

/* Círculo de progresso simples (mock) */
.progress-circle {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background: conic-gradient(#ca9eea 75%, #ffffff 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #4B0082;
  font-size: 18px;
}

/* Área de conquistas com rolagem lateral */
.conquistas {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
}

.conquistas img {
  flex: auto;
  width: auto;
  height: 15vh;
  object-fit: cover;
}